* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  font-family: "Segoe UI", Arial, sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}

.body {
  background-color: #000000;
}

.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
  background-color: black;
}

/* .headerContainer {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px;
  background-color: #ffffff;
}

.footerContainer {
  padding: 27px;
  background-color: #000000;
  color: #ffffff;
  line-height: 140%;
}

.businessInfoContainer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.heading {
  color: #ffffff;
  font-size: 2.5em;
  font-weight: 700;
  padding: 27px 27px 0 27px;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}

.titleLogo {
  width: 175px;
  height: 100%;
  object-fit: contain;
}

.content .standardContent {
  padding: 27px;
  /* background-color: black; */
}

.content .standardContent h1 {
  font-size: 2.5em;
  color: #fff; /* White */
  margin-bottom: 25px;
  font-weight: 700;
}

.content .standardContent h2 {
  font-size: 2em;
  color: #fff; /* White */
  margin-bottom: 20px;
  font-weight: 700;
}

.content .standardContent h3 {
  font-size: 1.75em;
  color: #ccc; /* Lighter Gray */
  margin-bottom: 15px;
  font-weight: 700;
}

.content .standardContent h4 {
  font-size: 1.5em;
  color: #999; /* Gray */
  margin-bottom: 10px;
  font-weight: 700;
}

.content .standardContent p,
.content .standardContent ul,
.content .standardContent ol {
  font-size: 1em;
  color: #fff; /* White */
  line-height: 1.5;
  margin-bottom: 20px;
}

.content .standardContent ul,
.content .standardContent ol {
  margin-left: 1rem;
}

.content .standardContent a {
  color: #5b63bc; /* White */
  /* text-decoration: underline; */
}
