.weclomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 27px; */
  background-color: #000000;
  gap: 27px;
}

.backgroundImage {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 44.79%, #000 100%), var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.profileImage {
  height: 390px;
}

.welcomeTitle {
  color: #fff;
  text-align: center;
  font-family: "Patua One", serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 27px;
  text-wrap: balance;
}

.welcomeText {
  color: #fff;
  font-family: "Patua One", serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.welcomePhoneNumber {
  display: flex;
  gap: 10px;
  color: #fff;
  font-family: "Patua One", serif;
  font-style: normal;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: normal;
}

/* .welcomePhoneNumber a:hover {
  text-decoration: underline;
} */

.noDefaultUnderline {
  text-decoration: none;
}

.noDefaultUnderline a:hover {
  text-decoration: underline;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  padding: 0 27px 0 27px;
  gap: 15px;
}

.callToActionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.callToActionText {
  color: #fff;
  font-family: "Patua One", serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 27px 0 27px;
  font-size: 1.7rem;
  text-align: center;
}
